
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

.navbar {
  background-color:#b97080;
  border: blanchedalmond 1px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.contenedor{
	width: 80%;
	height: 500px;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
  flex-wrap: nowrap;
  justify-content:space-around ;
	align-items: stretch;
}
.hijo{
	width: auto;
	color:black;
	margin: 40px;
	font-size: 20px;
  text-align: center;
  flex: 1 1 auto;
}

body {
  background: #e7e7e7;
}

.hijoText{
  text-align: justify;
}

img{
  border-radius: 50%;
  border: 0.5em solid grey;
}

.nameHome{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}



@media only screen and (min-device-width: 375px) and (max-device-width: 770px) {

  .contenedor{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-around ;
    align-items: stretch;
  }


}

li {
  list-style-type: none;
}

















